/*ex 1*/

.ex-1-square {
    transition: background-color 2s;
}

.ex-1-square:hover {
    background-color: red;
}

/*ex 2*/

.ex-2-square {
    transition: width 2s;
}

.ex-2-square:active {
    width: 100%;
}

/*ex 3*/

.ex-3-square {
    transition: border-radius 2s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/*ex 4*/

.ex-4-square {
    transition: opacity 4s ease-in-out;
}

.ex-4-square:hover {
    opacity: 0;
}

/*ex 5*/

.ex-5-square {
    transition: transform 3s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5, 0.5);
}

/*ex 6*/

.ex-6-img:hover {
    filter: grayscale(1);
}

/*ex 7*/

.ex-7-img {
    transition: filter 1s;
}

.ex-7-img:hover {
    filter: sepia(100%) saturate(50%) ;
}

/*ex 8*/

.ex-8-img {
    transition: filter 1s, border-radius 5s;
}

.ex-8-img:hover {
    filter: sepia(100%) saturate(50%);
    border-radius: 10%;
}

/*ex 9*/

.ex-9-img {
    transition: filter 1s, border-radius 5s, transform 2s;
}

.ex-9-img:hover {
    filter: sepia(100%) saturate(50%);
    border-radius: 10%;
    transform: scale(0.5);
}

/*ex 10*/

.ex-10-icon {
    animation: rotate 1s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-timing-function: linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(45deg);
    }

    30% {
        transform: rotate(90deg);
    }

    42% {
        transform: rotate(135deg);
    }
    50% {
        transform: rotate(180deg);
    }
    65% {
        transform: rotate(225deg);
    }
    75% {
        transform: rotate(270deg);
    }
    90% {
        transform: rotate(315deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
 /*ex 11*/

.ex-11-icon:hover {
    animation: semi-rotate 2s;
    animation-timing-function: linear;
}


    @keyframes semi-rotate {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(45deg);
    }

    30% {
        transform: rotate(90deg);
    }

    42% {
        transform: rotate(135deg);
    }
    50% {
        transform: rotate(180deg);
    }
    65% {
        transform: rotate(225deg);
    }
    80% {
        transform: rotate(280deg);
    }
    
    100% {
        transform: rotate(0deg);
    }
    }

/*ex 12*/

.ex-12-top-white {
    animation-name: move-up;
    animation-duration: 3s;
    animation-timing-function: linear;
}
.ex-12-bottom-white {
    animation-name: move-bottom;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes move-up {
    0% {
        top: -10px;
        left: 10%;
    }
    50% {
        top: -10px;
        left: 90%;
    }
    100% {
        top: -10px;
        left: -10%;
    }
    
}

@keyframes move-bottom {
    0% {
        bottom: -10px;
        right: 20%;
    }
    50% {
        bottom: -10px;
        right: 90%;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
    
}

/*ex 13*/


.ex-13-top-white {
    animation-name: pluto;
    animation-duration: 3s;
    animation-timing-function: linear;
}
.ex-13-bottom-white {
    animation-name: pippo;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes pluto {
    0% {
        top: -10px;
        left: 10%;
    }
    25% {
        top: -10px;
        left: 90%;
    }
    50% {
        top: 60px;
        left: 90%;
    }
    75% {
        top: 60px;
        left: 10%;
    }
    90% {
        top: 10px;
        left: 10%;
    }
    
    100% {
        top: -10px;
        left: 10%;
    }
    
}

@keyframes pippo {
    0% {
        bottom: -10px;
        right: 20%;
    }
    50% {
        bottom: -10px;
        right: 90%;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
    
}
